<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xduo.springbootinit.mapper.PostThumbMapper">

    <resultMap id="BaseResultMap" type="com.xduo.springbootinit.model.entity.PostThumb">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postId" column="postId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,postId,
        userId,createTime,updateTime
    </sql>

    <select id="listThumbPostByPage"
            resultType="com.xduo.springbootinit.model.entity.Post">
        select p.*
        from post p
                 join (select postId from post_thumb where userId = #{thumbUserId}) pt
                      on p.id = pt.postId ${ew.customSqlSegment}
    </select>
</mapper>
